<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径-->  
    <property name="LOG_HOME" value="logs" />
    
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{120} - %msg%n</Pattern>
		</layout>
	</appender>
	
	<appender name="FILE"  class="ch.qos.logback.core.rolling.RollingFileAppender">   
        <file>${LOG_HOME}/boot-demo.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>${LOG_HOME}/boot-demo.log.%d{yyyy-MM-dd}.log.zip</FileNamePattern>   
            <MaxHistory>7</MaxHistory>
        </rollingPolicy>   
        <layout class="ch.qos.logback.classic.PatternLayout">  
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符--> 
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{120} - %msg%n</pattern>   
       </layout> 
    </appender> 

	<logger name="com.alibaba" level="ERROR" />
	<logger name="org.mybatis" level="ERROR" />
	<logger name="org.apache" level="ERROR" />
	<logger name="org.jboss.netty" level="ERROR"></logger>
	<logger name="org.springframework" level="WARN"></logger>
	<logger name="druid.sql.Statement" level="DEBUG" />
	<logger name="com.wu.common.core.mybatis" level="ERROR"></logger>
	
	<!-- mybatis日志打印 -->
	<logger name="com.ibatis" level="DEBUG" />
	<logger name="com.ibatis.common.jdbc.SimpleDataSource" level="DEBUG" />
	<logger name="com.ibatis.common.jdbc.ScriptRunner" level="DEBUG" />
	<logger name="com.ibatis.sqlmap.engine.impl.SqlMapClientDelegate" level="DEBUG" />
	<logger name="java.sql.Connection" level="DEBUG" />
	<logger name="java.sql.Statement" level="DEBUG" />
	<logger name="java.sql.PreparedStatement" level="DEBUG" />
	<!-- 这一句至关重要如果没有，就无法输出sql语句 -->
	<logger name="com.xuexin.xcloud.print.service.mapper" level="DEBUG"></logger>
	
	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration>