<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.company.project.generator.dao.ACTIDINFODao">

    <sql id="aCTIDINFOColumns">
            a.ID_ iD,
            a.ID_ iD,
            a.ID_ iD,
            a.ID_ iD,
            a.ID_ iD,
            a.ID_ iD,
            a.ID_ iD,
            a.ID_ iD,
            a.REV_ rEV,
            a.REV_ rEV,
            a.REV_ rEV,
            a.REV_ rEV,
            a.REV_ rEV,
            a.REV_ rEV,
            a.REV_ rEV,
            a.REV_ rEV,
            a.USER_ID_ uSERID,
            a.USER_ID_ uSERID,
            a.USER_ID_ uSERID,
            a.USER_ID_ uSERID,
            a.USER_ID_ uSERID,
            a.USER_ID_ uSERID,
            a.USER_ID_ uSERID,
            a.USER_ID_ uSERID,
            a.TYPE_ tYPE,
            a.TYPE_ tYPE,
            a.TYPE_ tYPE,
            a.TYPE_ tYPE,
            a.TYPE_ tYPE,
            a.TYPE_ tYPE,
            a.TYPE_ tYPE,
            a.TYPE_ tYPE,
            a.KEY_ kEY,
            a.KEY_ kEY,
            a.KEY_ kEY,
            a.KEY_ kEY,
            a.KEY_ kEY,
            a.KEY_ kEY,
            a.KEY_ kEY,
            a.KEY_ kEY,
            a.VALUE_ vALUE,
            a.VALUE_ vALUE,
            a.VALUE_ vALUE,
            a.VALUE_ vALUE,
            a.VALUE_ vALUE,
            a.VALUE_ vALUE,
            a.VALUE_ vALUE,
            a.VALUE_ vALUE,
            a.PASSWORD_ pASSWORD,
            a.PASSWORD_ pASSWORD,
            a.PASSWORD_ pASSWORD,
            a.PASSWORD_ pASSWORD,
            a.PASSWORD_ pASSWORD,
            a.PASSWORD_ pASSWORD,
            a.PASSWORD_ pASSWORD,
            a.PASSWORD_ pASSWORD,
            a.PARENT_ID_ pARENTID,
            a.PARENT_ID_ pARENTID,
            a.PARENT_ID_ pARENTID,
            a.PARENT_ID_ pARENTID,
            a.PARENT_ID_ pARENTID,
            a.PARENT_ID_ pARENTID,
            a.PARENT_ID_ pARENTID,
            a.PARENT_ID_ pARENTID,
            a.ID_ iD,
            a.ID_ iD,
            a.ID_ iD,
            a.ID_ iD,
            a.ID_ iD,
            a.ID_ iD,
            a.ID_ iD,
            a.ID_ iD,
            a.REV_ rEV,
            a.REV_ rEV,
            a.REV_ rEV,
            a.REV_ rEV,
            a.REV_ rEV,
            a.REV_ rEV,
            a.REV_ rEV,
            a.REV_ rEV,
            a.USER_ID_ uSERID,
            a.USER_ID_ uSERID,
            a.USER_ID_ uSERID,
            a.USER_ID_ uSERID,
            a.USER_ID_ uSERID,
            a.USER_ID_ uSERID,
            a.USER_ID_ uSERID,
            a.USER_ID_ uSERID,
            a.TYPE_ tYPE,
            a.TYPE_ tYPE,
            a.TYPE_ tYPE,
            a.TYPE_ tYPE,
            a.TYPE_ tYPE,
            a.TYPE_ tYPE,
            a.TYPE_ tYPE,
            a.TYPE_ tYPE,
            a.KEY_ kEY,
            a.KEY_ kEY,
            a.KEY_ kEY,
            a.KEY_ kEY,
            a.KEY_ kEY,
            a.KEY_ kEY,
            a.KEY_ kEY,
            a.KEY_ kEY,
            a.VALUE_ vALUE,
            a.VALUE_ vALUE,
            a.VALUE_ vALUE,
            a.VALUE_ vALUE,
            a.VALUE_ vALUE,
            a.VALUE_ vALUE,
            a.VALUE_ vALUE,
            a.VALUE_ vALUE,
            a.PASSWORD_ pASSWORD,
            a.PASSWORD_ pASSWORD,
            a.PASSWORD_ pASSWORD,
            a.PASSWORD_ pASSWORD,
            a.PASSWORD_ pASSWORD,
            a.PASSWORD_ pASSWORD,
            a.PASSWORD_ pASSWORD,
            a.PASSWORD_ pASSWORD,
            a.PARENT_ID_ pARENTID,
            a.PARENT_ID_ pARENTID,
            a.PARENT_ID_ pARENTID,
            a.PARENT_ID_ pARENTID,
            a.PARENT_ID_ pARENTID,
            a.PARENT_ID_ pARENTID,
            a.PARENT_ID_ pARENTID,
            a.PARENT_ID_ pARENTID
    </sql>

    <sql id="aCTIDINFOJoins">

    </sql>

    <select id="getById" resultType="com.company.project.generator.domain.ACTIDINFO">
        SELECT
        <include refid="aCTIDINFOColumns"/>
        FROM ACT_ID_INFO a
        <include refid="aCTIDINFOJoins"/>
        WHERE a.id = #{id}
    </select>

    <select id="get" resultType="com.company.project.generator.domain.ACTIDINFO" parameterType="com.company.project.generator.domain.ACTIDINFO">
        SELECT
        <include refid="aCTIDINFOColumns"/>
        FROM ACT_ID_INFO a
        <include refid="aCTIDINFOJoins"/>
        <where>

        </where>
    </select>

    <select id="findPage" resultType="com.company.project.generator.domain.ACTIDINFO">
        SELECT
        <include refid="aCTIDINFOColumns"/>
        FROM ACT_ID_INFO a
        <include refid="aCTIDINFOJoins"/>
        <where>

        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ACT_ID_INFO (
                ID_,
                ID_,
                ID_,
                ID_,
                ID_,
                ID_,
                ID_,
                ID_,
                REV_,
                REV_,
                REV_,
                REV_,
                REV_,
                REV_,
                REV_,
                REV_,
                USER_ID_,
                USER_ID_,
                USER_ID_,
                USER_ID_,
                USER_ID_,
                USER_ID_,
                USER_ID_,
                USER_ID_,
                TYPE_,
                TYPE_,
                TYPE_,
                TYPE_,
                TYPE_,
                TYPE_,
                TYPE_,
                TYPE_,
                KEY_,
                KEY_,
                KEY_,
                KEY_,
                KEY_,
                KEY_,
                KEY_,
                KEY_,
                VALUE_,
                VALUE_,
                VALUE_,
                VALUE_,
                VALUE_,
                VALUE_,
                VALUE_,
                VALUE_,
                PASSWORD_,
                PASSWORD_,
                PASSWORD_,
                PASSWORD_,
                PASSWORD_,
                PASSWORD_,
                PASSWORD_,
                PASSWORD_,
                PARENT_ID_,
                PARENT_ID_,
                PARENT_ID_,
                PARENT_ID_,
                PARENT_ID_,
                PARENT_ID_,
                PARENT_ID_,
                PARENT_ID_,
                ID_,
                ID_,
                ID_,
                ID_,
                ID_,
                ID_,
                ID_,
                ID_,
                REV_,
                REV_,
                REV_,
                REV_,
                REV_,
                REV_,
                REV_,
                REV_,
                USER_ID_,
                USER_ID_,
                USER_ID_,
                USER_ID_,
                USER_ID_,
                USER_ID_,
                USER_ID_,
                USER_ID_,
                TYPE_,
                TYPE_,
                TYPE_,
                TYPE_,
                TYPE_,
                TYPE_,
                TYPE_,
                TYPE_,
                KEY_,
                KEY_,
                KEY_,
                KEY_,
                KEY_,
                KEY_,
                KEY_,
                KEY_,
                VALUE_,
                VALUE_,
                VALUE_,
                VALUE_,
                VALUE_,
                VALUE_,
                VALUE_,
                VALUE_,
                PASSWORD_,
                PASSWORD_,
                PASSWORD_,
                PASSWORD_,
                PASSWORD_,
                PASSWORD_,
                PASSWORD_,
                PASSWORD_,
                PARENT_ID_,
                PARENT_ID_,
                PARENT_ID_,
                PARENT_ID_,
                PARENT_ID_,
                PARENT_ID_,
                PARENT_ID_,
                PARENT_ID_
        ) VALUES (
                #{iD},
                #{iD},
                #{iD},
                #{iD},
                #{iD},
                #{iD},
                #{iD},
                #{iD},
                #{rEV},
                #{rEV},
                #{rEV},
                #{rEV},
                #{rEV},
                #{rEV},
                #{rEV},
                #{rEV},
                #{uSERID},
                #{uSERID},
                #{uSERID},
                #{uSERID},
                #{uSERID},
                #{uSERID},
                #{uSERID},
                #{uSERID},
                #{tYPE},
                #{tYPE},
                #{tYPE},
                #{tYPE},
                #{tYPE},
                #{tYPE},
                #{tYPE},
                #{tYPE},
                #{kEY},
                #{kEY},
                #{kEY},
                #{kEY},
                #{kEY},
                #{kEY},
                #{kEY},
                #{kEY},
                #{vALUE},
                #{vALUE},
                #{vALUE},
                #{vALUE},
                #{vALUE},
                #{vALUE},
                #{vALUE},
                #{vALUE},
                #{pASSWORD},
                #{pASSWORD},
                #{pASSWORD},
                #{pASSWORD},
                #{pASSWORD},
                #{pASSWORD},
                #{pASSWORD},
                #{pASSWORD},
                #{pARENTID},
                #{pARENTID},
                #{pARENTID},
                #{pARENTID},
                #{pARENTID},
                #{pARENTID},
                #{pARENTID},
                #{pARENTID},
                #{iD},
                #{iD},
                #{iD},
                #{iD},
                #{iD},
                #{iD},
                #{iD},
                #{iD},
                #{rEV},
                #{rEV},
                #{rEV},
                #{rEV},
                #{rEV},
                #{rEV},
                #{rEV},
                #{rEV},
                #{uSERID},
                #{uSERID},
                #{uSERID},
                #{uSERID},
                #{uSERID},
                #{uSERID},
                #{uSERID},
                #{uSERID},
                #{tYPE},
                #{tYPE},
                #{tYPE},
                #{tYPE},
                #{tYPE},
                #{tYPE},
                #{tYPE},
                #{tYPE},
                #{kEY},
                #{kEY},
                #{kEY},
                #{kEY},
                #{kEY},
                #{kEY},
                #{kEY},
                #{kEY},
                #{vALUE},
                #{vALUE},
                #{vALUE},
                #{vALUE},
                #{vALUE},
                #{vALUE},
                #{vALUE},
                #{vALUE},
                #{pASSWORD},
                #{pASSWORD},
                #{pASSWORD},
                #{pASSWORD},
                #{pASSWORD},
                #{pASSWORD},
                #{pASSWORD},
                #{pASSWORD},
                #{pARENTID},
                #{pARENTID},
                #{pARENTID},
                #{pARENTID},
                #{pARENTID},
                #{pARENTID},
                #{pARENTID},
                #{pARENTID}
        )
    </insert>

    <update id="update">
        UPDATE ACT_ID_INFO SET
            <if test="iD != null">
                ID_ = #{iD},
            </if>
            <if test="iD != null">
                ID_ = #{iD},
            </if>
            <if test="iD != null">
                ID_ = #{iD},
            </if>
            <if test="iD != null">
                ID_ = #{iD},
            </if>
            <if test="iD != null">
                ID_ = #{iD},
            </if>
            <if test="iD != null">
                ID_ = #{iD},
            </if>
            <if test="iD != null">
                ID_ = #{iD},
            </if>
            <if test="iD != null">
                ID_ = #{iD},
            </if>
            <if test="rEV != null">
                REV_ = #{rEV},
            </if>
            <if test="rEV != null">
                REV_ = #{rEV},
            </if>
            <if test="rEV != null">
                REV_ = #{rEV},
            </if>
            <if test="rEV != null">
                REV_ = #{rEV},
            </if>
            <if test="rEV != null">
                REV_ = #{rEV},
            </if>
            <if test="rEV != null">
                REV_ = #{rEV},
            </if>
            <if test="rEV != null">
                REV_ = #{rEV},
            </if>
            <if test="rEV != null">
                REV_ = #{rEV},
            </if>
            <if test="uSERID != null">
                USER_ID_ = #{uSERID},
            </if>
            <if test="uSERID != null">
                USER_ID_ = #{uSERID},
            </if>
            <if test="uSERID != null">
                USER_ID_ = #{uSERID},
            </if>
            <if test="uSERID != null">
                USER_ID_ = #{uSERID},
            </if>
            <if test="uSERID != null">
                USER_ID_ = #{uSERID},
            </if>
            <if test="uSERID != null">
                USER_ID_ = #{uSERID},
            </if>
            <if test="uSERID != null">
                USER_ID_ = #{uSERID},
            </if>
            <if test="uSERID != null">
                USER_ID_ = #{uSERID},
            </if>
            <if test="tYPE != null">
                TYPE_ = #{tYPE},
            </if>
            <if test="tYPE != null">
                TYPE_ = #{tYPE},
            </if>
            <if test="tYPE != null">
                TYPE_ = #{tYPE},
            </if>
            <if test="tYPE != null">
                TYPE_ = #{tYPE},
            </if>
            <if test="tYPE != null">
                TYPE_ = #{tYPE},
            </if>
            <if test="tYPE != null">
                TYPE_ = #{tYPE},
            </if>
            <if test="tYPE != null">
                TYPE_ = #{tYPE},
            </if>
            <if test="tYPE != null">
                TYPE_ = #{tYPE},
            </if>
            <if test="kEY != null">
                KEY_ = #{kEY},
            </if>
            <if test="kEY != null">
                KEY_ = #{kEY},
            </if>
            <if test="kEY != null">
                KEY_ = #{kEY},
            </if>
            <if test="kEY != null">
                KEY_ = #{kEY},
            </if>
            <if test="kEY != null">
                KEY_ = #{kEY},
            </if>
            <if test="kEY != null">
                KEY_ = #{kEY},
            </if>
            <if test="kEY != null">
                KEY_ = #{kEY},
            </if>
            <if test="kEY != null">
                KEY_ = #{kEY},
            </if>
            <if test="vALUE != null">
                VALUE_ = #{vALUE},
            </if>
            <if test="vALUE != null">
                VALUE_ = #{vALUE},
            </if>
            <if test="vALUE != null">
                VALUE_ = #{vALUE},
            </if>
            <if test="vALUE != null">
                VALUE_ = #{vALUE},
            </if>
            <if test="vALUE != null">
                VALUE_ = #{vALUE},
            </if>
            <if test="vALUE != null">
                VALUE_ = #{vALUE},
            </if>
            <if test="vALUE != null">
                VALUE_ = #{vALUE},
            </if>
            <if test="vALUE != null">
                VALUE_ = #{vALUE},
            </if>
            <if test="pASSWORD != null">
                PASSWORD_ = #{pASSWORD},
            </if>
            <if test="pASSWORD != null">
                PASSWORD_ = #{pASSWORD},
            </if>
            <if test="pASSWORD != null">
                PASSWORD_ = #{pASSWORD},
            </if>
            <if test="pASSWORD != null">
                PASSWORD_ = #{pASSWORD},
            </if>
            <if test="pASSWORD != null">
                PASSWORD_ = #{pASSWORD},
            </if>
            <if test="pASSWORD != null">
                PASSWORD_ = #{pASSWORD},
            </if>
            <if test="pASSWORD != null">
                PASSWORD_ = #{pASSWORD},
            </if>
            <if test="pASSWORD != null">
                PASSWORD_ = #{pASSWORD},
            </if>
            <if test="pARENTID != null">
                PARENT_ID_ = #{pARENTID},
            </if>
            <if test="pARENTID != null">
                PARENT_ID_ = #{pARENTID},
            </if>
            <if test="pARENTID != null">
                PARENT_ID_ = #{pARENTID},
            </if>
            <if test="pARENTID != null">
                PARENT_ID_ = #{pARENTID},
            </if>
            <if test="pARENTID != null">
                PARENT_ID_ = #{pARENTID},
            </if>
            <if test="pARENTID != null">
                PARENT_ID_ = #{pARENTID},
            </if>
            <if test="pARENTID != null">
                PARENT_ID_ = #{pARENTID},
            </if>
            <if test="pARENTID != null">
                PARENT_ID_ = #{pARENTID},
            </if>
            <if test="iD != null">
                ID_ = #{iD},
            </if>
            <if test="iD != null">
                ID_ = #{iD},
            </if>
            <if test="iD != null">
                ID_ = #{iD},
            </if>
            <if test="iD != null">
                ID_ = #{iD},
            </if>
            <if test="iD != null">
                ID_ = #{iD},
            </if>
            <if test="iD != null">
                ID_ = #{iD},
            </if>
            <if test="iD != null">
                ID_ = #{iD},
            </if>
            <if test="iD != null">
                ID_ = #{iD},
            </if>
            <if test="rEV != null">
                REV_ = #{rEV},
            </if>
            <if test="rEV != null">
                REV_ = #{rEV},
            </if>
            <if test="rEV != null">
                REV_ = #{rEV},
            </if>
            <if test="rEV != null">
                REV_ = #{rEV},
            </if>
            <if test="rEV != null">
                REV_ = #{rEV},
            </if>
            <if test="rEV != null">
                REV_ = #{rEV},
            </if>
            <if test="rEV != null">
                REV_ = #{rEV},
            </if>
            <if test="rEV != null">
                REV_ = #{rEV},
            </if>
            <if test="uSERID != null">
                USER_ID_ = #{uSERID},
            </if>
            <if test="uSERID != null">
                USER_ID_ = #{uSERID},
            </if>
            <if test="uSERID != null">
                USER_ID_ = #{uSERID},
            </if>
            <if test="uSERID != null">
                USER_ID_ = #{uSERID},
            </if>
            <if test="uSERID != null">
                USER_ID_ = #{uSERID},
            </if>
            <if test="uSERID != null">
                USER_ID_ = #{uSERID},
            </if>
            <if test="uSERID != null">
                USER_ID_ = #{uSERID},
            </if>
            <if test="uSERID != null">
                USER_ID_ = #{uSERID},
            </if>
            <if test="tYPE != null">
                TYPE_ = #{tYPE},
            </if>
            <if test="tYPE != null">
                TYPE_ = #{tYPE},
            </if>
            <if test="tYPE != null">
                TYPE_ = #{tYPE},
            </if>
            <if test="tYPE != null">
                TYPE_ = #{tYPE},
            </if>
            <if test="tYPE != null">
                TYPE_ = #{tYPE},
            </if>
            <if test="tYPE != null">
                TYPE_ = #{tYPE},
            </if>
            <if test="tYPE != null">
                TYPE_ = #{tYPE},
            </if>
            <if test="tYPE != null">
                TYPE_ = #{tYPE},
            </if>
            <if test="kEY != null">
                KEY_ = #{kEY},
            </if>
            <if test="kEY != null">
                KEY_ = #{kEY},
            </if>
            <if test="kEY != null">
                KEY_ = #{kEY},
            </if>
            <if test="kEY != null">
                KEY_ = #{kEY},
            </if>
            <if test="kEY != null">
                KEY_ = #{kEY},
            </if>
            <if test="kEY != null">
                KEY_ = #{kEY},
            </if>
            <if test="kEY != null">
                KEY_ = #{kEY},
            </if>
            <if test="kEY != null">
                KEY_ = #{kEY},
            </if>
            <if test="vALUE != null">
                VALUE_ = #{vALUE},
            </if>
            <if test="vALUE != null">
                VALUE_ = #{vALUE},
            </if>
            <if test="vALUE != null">
                VALUE_ = #{vALUE},
            </if>
            <if test="vALUE != null">
                VALUE_ = #{vALUE},
            </if>
            <if test="vALUE != null">
                VALUE_ = #{vALUE},
            </if>
            <if test="vALUE != null">
                VALUE_ = #{vALUE},
            </if>
            <if test="vALUE != null">
                VALUE_ = #{vALUE},
            </if>
            <if test="vALUE != null">
                VALUE_ = #{vALUE},
            </if>
            <if test="pASSWORD != null">
                PASSWORD_ = #{pASSWORD},
            </if>
            <if test="pASSWORD != null">
                PASSWORD_ = #{pASSWORD},
            </if>
            <if test="pASSWORD != null">
                PASSWORD_ = #{pASSWORD},
            </if>
            <if test="pASSWORD != null">
                PASSWORD_ = #{pASSWORD},
            </if>
            <if test="pASSWORD != null">
                PASSWORD_ = #{pASSWORD},
            </if>
            <if test="pASSWORD != null">
                PASSWORD_ = #{pASSWORD},
            </if>
            <if test="pASSWORD != null">
                PASSWORD_ = #{pASSWORD},
            </if>
            <if test="pASSWORD != null">
                PASSWORD_ = #{pASSWORD},
            </if>
            <if test="pARENTID != null">
                PARENT_ID_ = #{pARENTID},
            </if>
            <if test="pARENTID != null">
                PARENT_ID_ = #{pARENTID},
            </if>
            <if test="pARENTID != null">
                PARENT_ID_ = #{pARENTID},
            </if>
            <if test="pARENTID != null">
                PARENT_ID_ = #{pARENTID},
            </if>
            <if test="pARENTID != null">
                PARENT_ID_ = #{pARENTID},
            </if>
            <if test="pARENTID != null">
                PARENT_ID_ = #{pARENTID},
            </if>
            <if test="pARENTID != null">
                PARENT_ID_ = #{pARENTID},
            </if>
            <if test="pARENTID != null">
                PARENT_ID_ = #{pARENTID}
            </if>
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM ACT_ID_INFO
        WHERE id = #{id}
    </delete>
</mapper>