<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.company.project.generator.dao.CREDITCARDOVERDUEDao">

    <sql id="cREDITCARDOVERDUEColumns">
            a.IDCARD iDCARD,
            a.IDCARD iDCARD,
            a.IDCARD iDCARD,
            a.IDCARD iDCARD,
            a.IDCARD iDCARD,
            a.IDCARD iDCARD,
            a.IDCARD iDCARD,
            a.IDCARD iDCARD,
            a.IDCARD iDCARD,
            a.IDCARD iDCARD,
            a.REPORTREQTIME rEPORTREQTIME,
            a.REPORTREQTIME rEPORTREQTIME,
            a.REPORTREQTIME rEPORTREQTIME,
            a.REPORTREQTIME rEPORTREQTIME,
            a.REPORTREQTIME rEPORTREQTIME,
            a.REPORTREQTIME rEPORTREQTIME,
            a.REPORTREQTIME rEPORTREQTIME,
            a.REPORTREQTIME rEPORTREQTIME,
            a.REPORTREQTIME rEPORTREQTIME,
            a.REPORTREQTIME rEPORTREQTIME,
            a.NO nO,
            a.NO nO,
            a.NO nO,
            a.NO nO,
            a.NO nO,
            a.NO nO,
            a.NO nO,
            a.NO nO,
            a.NO nO,
            a.NO nO,
            a.OVERDUETITLE oVERDUETITLE,
            a.OVERDUETITLE oVERDUETITLE,
            a.OVERDUETITLE oVERDUETITLE,
            a.OVERDUETITLE oVERDUETITLE,
            a.OVERDUETITLE oVERDUETITLE,
            a.OVERDUETITLE oVERDUETITLE,
            a.OVERDUETITLE oVERDUETITLE,
            a.OVERDUETITLE oVERDUETITLE,
            a.OVERDUETITLE oVERDUETITLE,
            a.OVERDUETITLE oVERDUETITLE,
            a.OVERDUEMONTH oVERDUEMONTH,
            a.OVERDUEMONTH oVERDUEMONTH,
            a.OVERDUEMONTH oVERDUEMONTH,
            a.OVERDUEMONTH oVERDUEMONTH,
            a.OVERDUEMONTH oVERDUEMONTH,
            a.OVERDUEMONTH oVERDUEMONTH,
            a.OVERDUEMONTH oVERDUEMONTH,
            a.OVERDUEMONTH oVERDUEMONTH,
            a.OVERDUEMONTH oVERDUEMONTH,
            a.OVERDUEMONTH oVERDUEMONTH,
            a.OVERDUECONTMONTHS oVERDUECONTMONTHS,
            a.OVERDUECONTMONTHS oVERDUECONTMONTHS,
            a.OVERDUECONTMONTHS oVERDUECONTMONTHS,
            a.OVERDUECONTMONTHS oVERDUECONTMONTHS,
            a.OVERDUECONTMONTHS oVERDUECONTMONTHS,
            a.OVERDUECONTMONTHS oVERDUECONTMONTHS,
            a.OVERDUECONTMONTHS oVERDUECONTMONTHS,
            a.OVERDUECONTMONTHS oVERDUECONTMONTHS,
            a.OVERDUECONTMONTHS oVERDUECONTMONTHS,
            a.OVERDUECONTMONTHS oVERDUECONTMONTHS,
            a.OVERDUEAMOUNT oVERDUEAMOUNT,
            a.OVERDUEAMOUNT oVERDUEAMOUNT,
            a.OVERDUEAMOUNT oVERDUEAMOUNT,
            a.OVERDUEAMOUNT oVERDUEAMOUNT,
            a.OVERDUEAMOUNT oVERDUEAMOUNT,
            a.OVERDUEAMOUNT oVERDUEAMOUNT,
            a.OVERDUEAMOUNT oVERDUEAMOUNT,
            a.OVERDUEAMOUNT oVERDUEAMOUNT,
            a.OVERDUEAMOUNT oVERDUEAMOUNT,
            a.OVERDUEAMOUNT oVERDUEAMOUNT,
            a.LASTUPDATEDTIME lASTUPDATEDTIME,
            a.LASTUPDATEDTIME lASTUPDATEDTIME,
            a.LASTUPDATEDTIME lASTUPDATEDTIME,
            a.LASTUPDATEDTIME lASTUPDATEDTIME,
            a.LASTUPDATEDTIME lASTUPDATEDTIME,
            a.LASTUPDATEDTIME lASTUPDATEDTIME,
            a.LASTUPDATEDTIME lASTUPDATEDTIME,
            a.LASTUPDATEDTIME lASTUPDATEDTIME,
            a.LASTUPDATEDTIME lASTUPDATEDTIME,
            a.LASTUPDATEDTIME lASTUPDATEDTIME,
            a.ID iD,
            a.ID iD,
            a.ID iD,
            a.ID iD,
            a.ID iD,
            a.ID iD,
            a.ID iD,
            a.ID iD,
            a.ID iD,
            a.ID iD,
            a.SYNCFLAG sYNCFLAG,
            a.SYNCFLAG sYNCFLAG,
            a.SYNCFLAG sYNCFLAG,
            a.SYNCFLAG sYNCFLAG,
            a.SYNCFLAG sYNCFLAG,
            a.SYNCFLAG sYNCFLAG,
            a.SYNCFLAG sYNCFLAG,
            a.SYNCFLAG sYNCFLAG,
            a.SYNCFLAG sYNCFLAG,
            a.SYNCFLAG sYNCFLAG,
            a.IDCARD iDCARD,
            a.IDCARD iDCARD,
            a.IDCARD iDCARD,
            a.IDCARD iDCARD,
            a.IDCARD iDCARD,
            a.IDCARD iDCARD,
            a.IDCARD iDCARD,
            a.IDCARD iDCARD,
            a.IDCARD iDCARD,
            a.IDCARD iDCARD,
            a.REPORTREQTIME rEPORTREQTIME,
            a.REPORTREQTIME rEPORTREQTIME,
            a.REPORTREQTIME rEPORTREQTIME,
            a.REPORTREQTIME rEPORTREQTIME,
            a.REPORTREQTIME rEPORTREQTIME,
            a.REPORTREQTIME rEPORTREQTIME,
            a.REPORTREQTIME rEPORTREQTIME,
            a.REPORTREQTIME rEPORTREQTIME,
            a.REPORTREQTIME rEPORTREQTIME,
            a.REPORTREQTIME rEPORTREQTIME,
            a.NO nO,
            a.NO nO,
            a.NO nO,
            a.NO nO,
            a.NO nO,
            a.NO nO,
            a.NO nO,
            a.NO nO,
            a.NO nO,
            a.NO nO,
            a.OVERDUETITLE oVERDUETITLE,
            a.OVERDUETITLE oVERDUETITLE,
            a.OVERDUETITLE oVERDUETITLE,
            a.OVERDUETITLE oVERDUETITLE,
            a.OVERDUETITLE oVERDUETITLE,
            a.OVERDUETITLE oVERDUETITLE,
            a.OVERDUETITLE oVERDUETITLE,
            a.OVERDUETITLE oVERDUETITLE,
            a.OVERDUETITLE oVERDUETITLE,
            a.OVERDUETITLE oVERDUETITLE,
            a.OVERDUEMONTH oVERDUEMONTH,
            a.OVERDUEMONTH oVERDUEMONTH,
            a.OVERDUEMONTH oVERDUEMONTH,
            a.OVERDUEMONTH oVERDUEMONTH,
            a.OVERDUEMONTH oVERDUEMONTH,
            a.OVERDUEMONTH oVERDUEMONTH,
            a.OVERDUEMONTH oVERDUEMONTH,
            a.OVERDUEMONTH oVERDUEMONTH,
            a.OVERDUEMONTH oVERDUEMONTH,
            a.OVERDUEMONTH oVERDUEMONTH,
            a.OVERDUECONTMONTHS oVERDUECONTMONTHS,
            a.OVERDUECONTMONTHS oVERDUECONTMONTHS,
            a.OVERDUECONTMONTHS oVERDUECONTMONTHS,
            a.OVERDUECONTMONTHS oVERDUECONTMONTHS,
            a.OVERDUECONTMONTHS oVERDUECONTMONTHS,
            a.OVERDUECONTMONTHS oVERDUECONTMONTHS,
            a.OVERDUECONTMONTHS oVERDUECONTMONTHS,
            a.OVERDUECONTMONTHS oVERDUECONTMONTHS,
            a.OVERDUECONTMONTHS oVERDUECONTMONTHS,
            a.OVERDUECONTMONTHS oVERDUECONTMONTHS,
            a.OVERDUEAMOUNT oVERDUEAMOUNT,
            a.OVERDUEAMOUNT oVERDUEAMOUNT,
            a.OVERDUEAMOUNT oVERDUEAMOUNT,
            a.OVERDUEAMOUNT oVERDUEAMOUNT,
            a.OVERDUEAMOUNT oVERDUEAMOUNT,
            a.OVERDUEAMOUNT oVERDUEAMOUNT,
            a.OVERDUEAMOUNT oVERDUEAMOUNT,
            a.OVERDUEAMOUNT oVERDUEAMOUNT,
            a.OVERDUEAMOUNT oVERDUEAMOUNT,
            a.OVERDUEAMOUNT oVERDUEAMOUNT,
            a.LASTUPDATEDTIME lASTUPDATEDTIME,
            a.LASTUPDATEDTIME lASTUPDATEDTIME,
            a.LASTUPDATEDTIME lASTUPDATEDTIME,
            a.LASTUPDATEDTIME lASTUPDATEDTIME,
            a.LASTUPDATEDTIME lASTUPDATEDTIME,
            a.LASTUPDATEDTIME lASTUPDATEDTIME,
            a.LASTUPDATEDTIME lASTUPDATEDTIME,
            a.LASTUPDATEDTIME lASTUPDATEDTIME,
            a.LASTUPDATEDTIME lASTUPDATEDTIME,
            a.LASTUPDATEDTIME lASTUPDATEDTIME,
            a.ID iD,
            a.ID iD,
            a.ID iD,
            a.ID iD,
            a.ID iD,
            a.ID iD,
            a.ID iD,
            a.ID iD,
            a.ID iD,
            a.ID iD,
            a.SYNCFLAG sYNCFLAG,
            a.SYNCFLAG sYNCFLAG,
            a.SYNCFLAG sYNCFLAG,
            a.SYNCFLAG sYNCFLAG,
            a.SYNCFLAG sYNCFLAG,
            a.SYNCFLAG sYNCFLAG,
            a.SYNCFLAG sYNCFLAG,
            a.SYNCFLAG sYNCFLAG,
            a.SYNCFLAG sYNCFLAG,
            a.SYNCFLAG sYNCFLAG
    </sql>

    <sql id="cREDITCARDOVERDUEJoins">

    </sql>

    <select id="getById" resultType="com.company.project.generator.domain.CREDITCARDOVERDUE">
        SELECT
        <include refid="cREDITCARDOVERDUEColumns"/>
        FROM CREDITCARD_OVERDUE a
        <include refid="cREDITCARDOVERDUEJoins"/>
        WHERE a.id = #{id}
    </select>

    <select id="get" resultType="com.company.project.generator.domain.CREDITCARDOVERDUE" parameterType="com.company.project.generator.domain.CREDITCARDOVERDUE">
        SELECT
        <include refid="cREDITCARDOVERDUEColumns"/>
        FROM CREDITCARD_OVERDUE a
        <include refid="cREDITCARDOVERDUEJoins"/>
        <where>

        </where>
    </select>

    <select id="findPage" resultType="com.company.project.generator.domain.CREDITCARDOVERDUE">
        SELECT
        <include refid="cREDITCARDOVERDUEColumns"/>
        FROM CREDITCARD_OVERDUE a
        <include refid="cREDITCARDOVERDUEJoins"/>
        <where>

        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO CREDITCARD_OVERDUE (
                IDCARD,
                IDCARD,
                IDCARD,
                IDCARD,
                IDCARD,
                IDCARD,
                IDCARD,
                IDCARD,
                IDCARD,
                IDCARD,
                REPORTREQTIME,
                REPORTREQTIME,
                REPORTREQTIME,
                REPORTREQTIME,
                REPORTREQTIME,
                REPORTREQTIME,
                REPORTREQTIME,
                REPORTREQTIME,
                REPORTREQTIME,
                REPORTREQTIME,
                NO,
                NO,
                NO,
                NO,
                NO,
                NO,
                NO,
                NO,
                NO,
                NO,
                OVERDUETITLE,
                OVERDUETITLE,
                OVERDUETITLE,
                OVERDUETITLE,
                OVERDUETITLE,
                OVERDUETITLE,
                OVERDUETITLE,
                OVERDUETITLE,
                OVERDUETITLE,
                OVERDUETITLE,
                OVERDUEMONTH,
                OVERDUEMONTH,
                OVERDUEMONTH,
                OVERDUEMONTH,
                OVERDUEMONTH,
                OVERDUEMONTH,
                OVERDUEMONTH,
                OVERDUEMONTH,
                OVERDUEMONTH,
                OVERDUEMONTH,
                OVERDUECONTMONTHS,
                OVERDUECONTMONTHS,
                OVERDUECONTMONTHS,
                OVERDUECONTMONTHS,
                OVERDUECONTMONTHS,
                OVERDUECONTMONTHS,
                OVERDUECONTMONTHS,
                OVERDUECONTMONTHS,
                OVERDUECONTMONTHS,
                OVERDUECONTMONTHS,
                OVERDUEAMOUNT,
                OVERDUEAMOUNT,
                OVERDUEAMOUNT,
                OVERDUEAMOUNT,
                OVERDUEAMOUNT,
                OVERDUEAMOUNT,
                OVERDUEAMOUNT,
                OVERDUEAMOUNT,
                OVERDUEAMOUNT,
                OVERDUEAMOUNT,
                LASTUPDATEDTIME,
                LASTUPDATEDTIME,
                LASTUPDATEDTIME,
                LASTUPDATEDTIME,
                LASTUPDATEDTIME,
                LASTUPDATEDTIME,
                LASTUPDATEDTIME,
                LASTUPDATEDTIME,
                LASTUPDATEDTIME,
                LASTUPDATEDTIME,
                ID,
                ID,
                ID,
                ID,
                ID,
                ID,
                ID,
                ID,
                ID,
                ID,
                SYNCFLAG,
                SYNCFLAG,
                SYNCFLAG,
                SYNCFLAG,
                SYNCFLAG,
                SYNCFLAG,
                SYNCFLAG,
                SYNCFLAG,
                SYNCFLAG,
                SYNCFLAG,
                IDCARD,
                IDCARD,
                IDCARD,
                IDCARD,
                IDCARD,
                IDCARD,
                IDCARD,
                IDCARD,
                IDCARD,
                IDCARD,
                REPORTREQTIME,
                REPORTREQTIME,
                REPORTREQTIME,
                REPORTREQTIME,
                REPORTREQTIME,
                REPORTREQTIME,
                REPORTREQTIME,
                REPORTREQTIME,
                REPORTREQTIME,
                REPORTREQTIME,
                NO,
                NO,
                NO,
                NO,
                NO,
                NO,
                NO,
                NO,
                NO,
                NO,
                OVERDUETITLE,
                OVERDUETITLE,
                OVERDUETITLE,
                OVERDUETITLE,
                OVERDUETITLE,
                OVERDUETITLE,
                OVERDUETITLE,
                OVERDUETITLE,
                OVERDUETITLE,
                OVERDUETITLE,
                OVERDUEMONTH,
                OVERDUEMONTH,
                OVERDUEMONTH,
                OVERDUEMONTH,
                OVERDUEMONTH,
                OVERDUEMONTH,
                OVERDUEMONTH,
                OVERDUEMONTH,
                OVERDUEMONTH,
                OVERDUEMONTH,
                OVERDUECONTMONTHS,
                OVERDUECONTMONTHS,
                OVERDUECONTMONTHS,
                OVERDUECONTMONTHS,
                OVERDUECONTMONTHS,
                OVERDUECONTMONTHS,
                OVERDUECONTMONTHS,
                OVERDUECONTMONTHS,
                OVERDUECONTMONTHS,
                OVERDUECONTMONTHS,
                OVERDUEAMOUNT,
                OVERDUEAMOUNT,
                OVERDUEAMOUNT,
                OVERDUEAMOUNT,
                OVERDUEAMOUNT,
                OVERDUEAMOUNT,
                OVERDUEAMOUNT,
                OVERDUEAMOUNT,
                OVERDUEAMOUNT,
                OVERDUEAMOUNT,
                LASTUPDATEDTIME,
                LASTUPDATEDTIME,
                LASTUPDATEDTIME,
                LASTUPDATEDTIME,
                LASTUPDATEDTIME,
                LASTUPDATEDTIME,
                LASTUPDATEDTIME,
                LASTUPDATEDTIME,
                LASTUPDATEDTIME,
                LASTUPDATEDTIME,
                ID,
                ID,
                ID,
                ID,
                ID,
                ID,
                ID,
                ID,
                ID,
                ID,
                SYNCFLAG,
                SYNCFLAG,
                SYNCFLAG,
                SYNCFLAG,
                SYNCFLAG,
                SYNCFLAG,
                SYNCFLAG,
                SYNCFLAG,
                SYNCFLAG,
                SYNCFLAG
        ) VALUES (
                #{iDCARD},
                #{iDCARD},
                #{iDCARD},
                #{iDCARD},
                #{iDCARD},
                #{iDCARD},
                #{iDCARD},
                #{iDCARD},
                #{iDCARD},
                #{iDCARD},
                #{rEPORTREQTIME},
                #{rEPORTREQTIME},
                #{rEPORTREQTIME},
                #{rEPORTREQTIME},
                #{rEPORTREQTIME},
                #{rEPORTREQTIME},
                #{rEPORTREQTIME},
                #{rEPORTREQTIME},
                #{rEPORTREQTIME},
                #{rEPORTREQTIME},
                #{nO},
                #{nO},
                #{nO},
                #{nO},
                #{nO},
                #{nO},
                #{nO},
                #{nO},
                #{nO},
                #{nO},
                #{oVERDUETITLE},
                #{oVERDUETITLE},
                #{oVERDUETITLE},
                #{oVERDUETITLE},
                #{oVERDUETITLE},
                #{oVERDUETITLE},
                #{oVERDUETITLE},
                #{oVERDUETITLE},
                #{oVERDUETITLE},
                #{oVERDUETITLE},
                #{oVERDUEMONTH},
                #{oVERDUEMONTH},
                #{oVERDUEMONTH},
                #{oVERDUEMONTH},
                #{oVERDUEMONTH},
                #{oVERDUEMONTH},
                #{oVERDUEMONTH},
                #{oVERDUEMONTH},
                #{oVERDUEMONTH},
                #{oVERDUEMONTH},
                #{oVERDUECONTMONTHS},
                #{oVERDUECONTMONTHS},
                #{oVERDUECONTMONTHS},
                #{oVERDUECONTMONTHS},
                #{oVERDUECONTMONTHS},
                #{oVERDUECONTMONTHS},
                #{oVERDUECONTMONTHS},
                #{oVERDUECONTMONTHS},
                #{oVERDUECONTMONTHS},
                #{oVERDUECONTMONTHS},
                #{oVERDUEAMOUNT},
                #{oVERDUEAMOUNT},
                #{oVERDUEAMOUNT},
                #{oVERDUEAMOUNT},
                #{oVERDUEAMOUNT},
                #{oVERDUEAMOUNT},
                #{oVERDUEAMOUNT},
                #{oVERDUEAMOUNT},
                #{oVERDUEAMOUNT},
                #{oVERDUEAMOUNT},
                #{lASTUPDATEDTIME},
                #{lASTUPDATEDTIME},
                #{lASTUPDATEDTIME},
                #{lASTUPDATEDTIME},
                #{lASTUPDATEDTIME},
                #{lASTUPDATEDTIME},
                #{lASTUPDATEDTIME},
                #{lASTUPDATEDTIME},
                #{lASTUPDATEDTIME},
                #{lASTUPDATEDTIME},
                #{iD},
                #{iD},
                #{iD},
                #{iD},
                #{iD},
                #{iD},
                #{iD},
                #{iD},
                #{iD},
                #{iD},
                #{sYNCFLAG},
                #{sYNCFLAG},
                #{sYNCFLAG},
                #{sYNCFLAG},
                #{sYNCFLAG},
                #{sYNCFLAG},
                #{sYNCFLAG},
                #{sYNCFLAG},
                #{sYNCFLAG},
                #{sYNCFLAG},
                #{iDCARD},
                #{iDCARD},
                #{iDCARD},
                #{iDCARD},
                #{iDCARD},
                #{iDCARD},
                #{iDCARD},
                #{iDCARD},
                #{iDCARD},
                #{iDCARD},
                #{rEPORTREQTIME},
                #{rEPORTREQTIME},
                #{rEPORTREQTIME},
                #{rEPORTREQTIME},
                #{rEPORTREQTIME},
                #{rEPORTREQTIME},
                #{rEPORTREQTIME},
                #{rEPORTREQTIME},
                #{rEPORTREQTIME},
                #{rEPORTREQTIME},
                #{nO},
                #{nO},
                #{nO},
                #{nO},
                #{nO},
                #{nO},
                #{nO},
                #{nO},
                #{nO},
                #{nO},
                #{oVERDUETITLE},
                #{oVERDUETITLE},
                #{oVERDUETITLE},
                #{oVERDUETITLE},
                #{oVERDUETITLE},
                #{oVERDUETITLE},
                #{oVERDUETITLE},
                #{oVERDUETITLE},
                #{oVERDUETITLE},
                #{oVERDUETITLE},
                #{oVERDUEMONTH},
                #{oVERDUEMONTH},
                #{oVERDUEMONTH},
                #{oVERDUEMONTH},
                #{oVERDUEMONTH},
                #{oVERDUEMONTH},
                #{oVERDUEMONTH},
                #{oVERDUEMONTH},
                #{oVERDUEMONTH},
                #{oVERDUEMONTH},
                #{oVERDUECONTMONTHS},
                #{oVERDUECONTMONTHS},
                #{oVERDUECONTMONTHS},
                #{oVERDUECONTMONTHS},
                #{oVERDUECONTMONTHS},
                #{oVERDUECONTMONTHS},
                #{oVERDUECONTMONTHS},
                #{oVERDUECONTMONTHS},
                #{oVERDUECONTMONTHS},
                #{oVERDUECONTMONTHS},
                #{oVERDUEAMOUNT},
                #{oVERDUEAMOUNT},
                #{oVERDUEAMOUNT},
                #{oVERDUEAMOUNT},
                #{oVERDUEAMOUNT},
                #{oVERDUEAMOUNT},
                #{oVERDUEAMOUNT},
                #{oVERDUEAMOUNT},
                #{oVERDUEAMOUNT},
                #{oVERDUEAMOUNT},
                #{lASTUPDATEDTIME},
                #{lASTUPDATEDTIME},
                #{lASTUPDATEDTIME},
                #{lASTUPDATEDTIME},
                #{lASTUPDATEDTIME},
                #{lASTUPDATEDTIME},
                #{lASTUPDATEDTIME},
                #{lASTUPDATEDTIME},
                #{lASTUPDATEDTIME},
                #{lASTUPDATEDTIME},
                #{iD},
                #{iD},
                #{iD},
                #{iD},
                #{iD},
                #{iD},
                #{iD},
                #{iD},
                #{iD},
                #{iD},
                #{sYNCFLAG},
                #{sYNCFLAG},
                #{sYNCFLAG},
                #{sYNCFLAG},
                #{sYNCFLAG},
                #{sYNCFLAG},
                #{sYNCFLAG},
                #{sYNCFLAG},
                #{sYNCFLAG},
                #{sYNCFLAG}
        )
    </insert>

    <update id="update">
        UPDATE CREDITCARD_OVERDUE SET
            <if test="iDCARD != null">
                IDCARD = #{iDCARD},
            </if>
            <if test="iDCARD != null">
                IDCARD = #{iDCARD},
            </if>
            <if test="iDCARD != null">
                IDCARD = #{iDCARD},
            </if>
            <if test="iDCARD != null">
                IDCARD = #{iDCARD},
            </if>
            <if test="iDCARD != null">
                IDCARD = #{iDCARD},
            </if>
            <if test="iDCARD != null">
                IDCARD = #{iDCARD},
            </if>
            <if test="iDCARD != null">
                IDCARD = #{iDCARD},
            </if>
            <if test="iDCARD != null">
                IDCARD = #{iDCARD},
            </if>
            <if test="iDCARD != null">
                IDCARD = #{iDCARD},
            </if>
            <if test="iDCARD != null">
                IDCARD = #{iDCARD},
            </if>
            <if test="rEPORTREQTIME != null">
                REPORTREQTIME = #{rEPORTREQTIME},
            </if>
            <if test="rEPORTREQTIME != null">
                REPORTREQTIME = #{rEPORTREQTIME},
            </if>
            <if test="rEPORTREQTIME != null">
                REPORTREQTIME = #{rEPORTREQTIME},
            </if>
            <if test="rEPORTREQTIME != null">
                REPORTREQTIME = #{rEPORTREQTIME},
            </if>
            <if test="rEPORTREQTIME != null">
                REPORTREQTIME = #{rEPORTREQTIME},
            </if>
            <if test="rEPORTREQTIME != null">
                REPORTREQTIME = #{rEPORTREQTIME},
            </if>
            <if test="rEPORTREQTIME != null">
                REPORTREQTIME = #{rEPORTREQTIME},
            </if>
            <if test="rEPORTREQTIME != null">
                REPORTREQTIME = #{rEPORTREQTIME},
            </if>
            <if test="rEPORTREQTIME != null">
                REPORTREQTIME = #{rEPORTREQTIME},
            </if>
            <if test="rEPORTREQTIME != null">
                REPORTREQTIME = #{rEPORTREQTIME},
            </if>
            <if test="nO != null">
                NO = #{nO},
            </if>
            <if test="nO != null">
                NO = #{nO},
            </if>
            <if test="nO != null">
                NO = #{nO},
            </if>
            <if test="nO != null">
                NO = #{nO},
            </if>
            <if test="nO != null">
                NO = #{nO},
            </if>
            <if test="nO != null">
                NO = #{nO},
            </if>
            <if test="nO != null">
                NO = #{nO},
            </if>
            <if test="nO != null">
                NO = #{nO},
            </if>
            <if test="nO != null">
                NO = #{nO},
            </if>
            <if test="nO != null">
                NO = #{nO},
            </if>
            <if test="oVERDUETITLE != null">
                OVERDUETITLE = #{oVERDUETITLE},
            </if>
            <if test="oVERDUETITLE != null">
                OVERDUETITLE = #{oVERDUETITLE},
            </if>
            <if test="oVERDUETITLE != null">
                OVERDUETITLE = #{oVERDUETITLE},
            </if>
            <if test="oVERDUETITLE != null">
                OVERDUETITLE = #{oVERDUETITLE},
            </if>
            <if test="oVERDUETITLE != null">
                OVERDUETITLE = #{oVERDUETITLE},
            </if>
            <if test="oVERDUETITLE != null">
                OVERDUETITLE = #{oVERDUETITLE},
            </if>
            <if test="oVERDUETITLE != null">
                OVERDUETITLE = #{oVERDUETITLE},
            </if>
            <if test="oVERDUETITLE != null">
                OVERDUETITLE = #{oVERDUETITLE},
            </if>
            <if test="oVERDUETITLE != null">
                OVERDUETITLE = #{oVERDUETITLE},
            </if>
            <if test="oVERDUETITLE != null">
                OVERDUETITLE = #{oVERDUETITLE},
            </if>
            <if test="oVERDUEMONTH != null">
                OVERDUEMONTH = #{oVERDUEMONTH},
            </if>
            <if test="oVERDUEMONTH != null">
                OVERDUEMONTH = #{oVERDUEMONTH},
            </if>
            <if test="oVERDUEMONTH != null">
                OVERDUEMONTH = #{oVERDUEMONTH},
            </if>
            <if test="oVERDUEMONTH != null">
                OVERDUEMONTH = #{oVERDUEMONTH},
            </if>
            <if test="oVERDUEMONTH != null">
                OVERDUEMONTH = #{oVERDUEMONTH},
            </if>
            <if test="oVERDUEMONTH != null">
                OVERDUEMONTH = #{oVERDUEMONTH},
            </if>
            <if test="oVERDUEMONTH != null">
                OVERDUEMONTH = #{oVERDUEMONTH},
            </if>
            <if test="oVERDUEMONTH != null">
                OVERDUEMONTH = #{oVERDUEMONTH},
            </if>
            <if test="oVERDUEMONTH != null">
                OVERDUEMONTH = #{oVERDUEMONTH},
            </if>
            <if test="oVERDUEMONTH != null">
                OVERDUEMONTH = #{oVERDUEMONTH},
            </if>
            <if test="oVERDUECONTMONTHS != null">
                OVERDUECONTMONTHS = #{oVERDUECONTMONTHS},
            </if>
            <if test="oVERDUECONTMONTHS != null">
                OVERDUECONTMONTHS = #{oVERDUECONTMONTHS},
            </if>
            <if test="oVERDUECONTMONTHS != null">
                OVERDUECONTMONTHS = #{oVERDUECONTMONTHS},
            </if>
            <if test="oVERDUECONTMONTHS != null">
                OVERDUECONTMONTHS = #{oVERDUECONTMONTHS},
            </if>
            <if test="oVERDUECONTMONTHS != null">
                OVERDUECONTMONTHS = #{oVERDUECONTMONTHS},
            </if>
            <if test="oVERDUECONTMONTHS != null">
                OVERDUECONTMONTHS = #{oVERDUECONTMONTHS},
            </if>
            <if test="oVERDUECONTMONTHS != null">
                OVERDUECONTMONTHS = #{oVERDUECONTMONTHS},
            </if>
            <if test="oVERDUECONTMONTHS != null">
                OVERDUECONTMONTHS = #{oVERDUECONTMONTHS},
            </if>
            <if test="oVERDUECONTMONTHS != null">
                OVERDUECONTMONTHS = #{oVERDUECONTMONTHS},
            </if>
            <if test="oVERDUECONTMONTHS != null">
                OVERDUECONTMONTHS = #{oVERDUECONTMONTHS},
            </if>
            <if test="oVERDUEAMOUNT != null">
                OVERDUEAMOUNT = #{oVERDUEAMOUNT},
            </if>
            <if test="oVERDUEAMOUNT != null">
                OVERDUEAMOUNT = #{oVERDUEAMOUNT},
            </if>
            <if test="oVERDUEAMOUNT != null">
                OVERDUEAMOUNT = #{oVERDUEAMOUNT},
            </if>
            <if test="oVERDUEAMOUNT != null">
                OVERDUEAMOUNT = #{oVERDUEAMOUNT},
            </if>
            <if test="oVERDUEAMOUNT != null">
                OVERDUEAMOUNT = #{oVERDUEAMOUNT},
            </if>
            <if test="oVERDUEAMOUNT != null">
                OVERDUEAMOUNT = #{oVERDUEAMOUNT},
            </if>
            <if test="oVERDUEAMOUNT != null">
                OVERDUEAMOUNT = #{oVERDUEAMOUNT},
            </if>
            <if test="oVERDUEAMOUNT != null">
                OVERDUEAMOUNT = #{oVERDUEAMOUNT},
            </if>
            <if test="oVERDUEAMOUNT != null">
                OVERDUEAMOUNT = #{oVERDUEAMOUNT},
            </if>
            <if test="oVERDUEAMOUNT != null">
                OVERDUEAMOUNT = #{oVERDUEAMOUNT},
            </if>
            <if test="lASTUPDATEDTIME != null">
                LASTUPDATEDTIME = #{lASTUPDATEDTIME},
            </if>
            <if test="lASTUPDATEDTIME != null">
                LASTUPDATEDTIME = #{lASTUPDATEDTIME},
            </if>
            <if test="lASTUPDATEDTIME != null">
                LASTUPDATEDTIME = #{lASTUPDATEDTIME},
            </if>
            <if test="lASTUPDATEDTIME != null">
                LASTUPDATEDTIME = #{lASTUPDATEDTIME},
            </if>
            <if test="lASTUPDATEDTIME != null">
                LASTUPDATEDTIME = #{lASTUPDATEDTIME},
            </if>
            <if test="lASTUPDATEDTIME != null">
                LASTUPDATEDTIME = #{lASTUPDATEDTIME},
            </if>
            <if test="lASTUPDATEDTIME != null">
                LASTUPDATEDTIME = #{lASTUPDATEDTIME},
            </if>
            <if test="lASTUPDATEDTIME != null">
                LASTUPDATEDTIME = #{lASTUPDATEDTIME},
            </if>
            <if test="lASTUPDATEDTIME != null">
                LASTUPDATEDTIME = #{lASTUPDATEDTIME},
            </if>
            <if test="lASTUPDATEDTIME != null">
                LASTUPDATEDTIME = #{lASTUPDATEDTIME},
            </if>
            <if test="iD != null">
                ID = #{iD},
            </if>
            <if test="iD != null">
                ID = #{iD},
            </if>
            <if test="iD != null">
                ID = #{iD},
            </if>
            <if test="iD != null">
                ID = #{iD},
            </if>
            <if test="iD != null">
                ID = #{iD},
            </if>
            <if test="iD != null">
                ID = #{iD},
            </if>
            <if test="iD != null">
                ID = #{iD},
            </if>
            <if test="iD != null">
                ID = #{iD},
            </if>
            <if test="iD != null">
                ID = #{iD},
            </if>
            <if test="iD != null">
                ID = #{iD},
            </if>
            <if test="sYNCFLAG != null">
                SYNCFLAG = #{sYNCFLAG},
            </if>
            <if test="sYNCFLAG != null">
                SYNCFLAG = #{sYNCFLAG},
            </if>
            <if test="sYNCFLAG != null">
                SYNCFLAG = #{sYNCFLAG},
            </if>
            <if test="sYNCFLAG != null">
                SYNCFLAG = #{sYNCFLAG},
            </if>
            <if test="sYNCFLAG != null">
                SYNCFLAG = #{sYNCFLAG},
            </if>
            <if test="sYNCFLAG != null">
                SYNCFLAG = #{sYNCFLAG},
            </if>
            <if test="sYNCFLAG != null">
                SYNCFLAG = #{sYNCFLAG},
            </if>
            <if test="sYNCFLAG != null">
                SYNCFLAG = #{sYNCFLAG},
            </if>
            <if test="sYNCFLAG != null">
                SYNCFLAG = #{sYNCFLAG},
            </if>
            <if test="sYNCFLAG != null">
                SYNCFLAG = #{sYNCFLAG},
            </if>
            <if test="iDCARD != null">
                IDCARD = #{iDCARD},
            </if>
            <if test="iDCARD != null">
                IDCARD = #{iDCARD},
            </if>
            <if test="iDCARD != null">
                IDCARD = #{iDCARD},
            </if>
            <if test="iDCARD != null">
                IDCARD = #{iDCARD},
            </if>
            <if test="iDCARD != null">
                IDCARD = #{iDCARD},
            </if>
            <if test="iDCARD != null">
                IDCARD = #{iDCARD},
            </if>
            <if test="iDCARD != null">
                IDCARD = #{iDCARD},
            </if>
            <if test="iDCARD != null">
                IDCARD = #{iDCARD},
            </if>
            <if test="iDCARD != null">
                IDCARD = #{iDCARD},
            </if>
            <if test="iDCARD != null">
                IDCARD = #{iDCARD},
            </if>
            <if test="rEPORTREQTIME != null">
                REPORTREQTIME = #{rEPORTREQTIME},
            </if>
            <if test="rEPORTREQTIME != null">
                REPORTREQTIME = #{rEPORTREQTIME},
            </if>
            <if test="rEPORTREQTIME != null">
                REPORTREQTIME = #{rEPORTREQTIME},
            </if>
            <if test="rEPORTREQTIME != null">
                REPORTREQTIME = #{rEPORTREQTIME},
            </if>
            <if test="rEPORTREQTIME != null">
                REPORTREQTIME = #{rEPORTREQTIME},
            </if>
            <if test="rEPORTREQTIME != null">
                REPORTREQTIME = #{rEPORTREQTIME},
            </if>
            <if test="rEPORTREQTIME != null">
                REPORTREQTIME = #{rEPORTREQTIME},
            </if>
            <if test="rEPORTREQTIME != null">
                REPORTREQTIME = #{rEPORTREQTIME},
            </if>
            <if test="rEPORTREQTIME != null">
                REPORTREQTIME = #{rEPORTREQTIME},
            </if>
            <if test="rEPORTREQTIME != null">
                REPORTREQTIME = #{rEPORTREQTIME},
            </if>
            <if test="nO != null">
                NO = #{nO},
            </if>
            <if test="nO != null">
                NO = #{nO},
            </if>
            <if test="nO != null">
                NO = #{nO},
            </if>
            <if test="nO != null">
                NO = #{nO},
            </if>
            <if test="nO != null">
                NO = #{nO},
            </if>
            <if test="nO != null">
                NO = #{nO},
            </if>
            <if test="nO != null">
                NO = #{nO},
            </if>
            <if test="nO != null">
                NO = #{nO},
            </if>
            <if test="nO != null">
                NO = #{nO},
            </if>
            <if test="nO != null">
                NO = #{nO},
            </if>
            <if test="oVERDUETITLE != null">
                OVERDUETITLE = #{oVERDUETITLE},
            </if>
            <if test="oVERDUETITLE != null">
                OVERDUETITLE = #{oVERDUETITLE},
            </if>
            <if test="oVERDUETITLE != null">
                OVERDUETITLE = #{oVERDUETITLE},
            </if>
            <if test="oVERDUETITLE != null">
                OVERDUETITLE = #{oVERDUETITLE},
            </if>
            <if test="oVERDUETITLE != null">
                OVERDUETITLE = #{oVERDUETITLE},
            </if>
            <if test="oVERDUETITLE != null">
                OVERDUETITLE = #{oVERDUETITLE},
            </if>
            <if test="oVERDUETITLE != null">
                OVERDUETITLE = #{oVERDUETITLE},
            </if>
            <if test="oVERDUETITLE != null">
                OVERDUETITLE = #{oVERDUETITLE},
            </if>
            <if test="oVERDUETITLE != null">
                OVERDUETITLE = #{oVERDUETITLE},
            </if>
            <if test="oVERDUETITLE != null">
                OVERDUETITLE = #{oVERDUETITLE},
            </if>
            <if test="oVERDUEMONTH != null">
                OVERDUEMONTH = #{oVERDUEMONTH},
            </if>
            <if test="oVERDUEMONTH != null">
                OVERDUEMONTH = #{oVERDUEMONTH},
            </if>
            <if test="oVERDUEMONTH != null">
                OVERDUEMONTH = #{oVERDUEMONTH},
            </if>
            <if test="oVERDUEMONTH != null">
                OVERDUEMONTH = #{oVERDUEMONTH},
            </if>
            <if test="oVERDUEMONTH != null">
                OVERDUEMONTH = #{oVERDUEMONTH},
            </if>
            <if test="oVERDUEMONTH != null">
                OVERDUEMONTH = #{oVERDUEMONTH},
            </if>
            <if test="oVERDUEMONTH != null">
                OVERDUEMONTH = #{oVERDUEMONTH},
            </if>
            <if test="oVERDUEMONTH != null">
                OVERDUEMONTH = #{oVERDUEMONTH},
            </if>
            <if test="oVERDUEMONTH != null">
                OVERDUEMONTH = #{oVERDUEMONTH},
            </if>
            <if test="oVERDUEMONTH != null">
                OVERDUEMONTH = #{oVERDUEMONTH},
            </if>
            <if test="oVERDUECONTMONTHS != null">
                OVERDUECONTMONTHS = #{oVERDUECONTMONTHS},
            </if>
            <if test="oVERDUECONTMONTHS != null">
                OVERDUECONTMONTHS = #{oVERDUECONTMONTHS},
            </if>
            <if test="oVERDUECONTMONTHS != null">
                OVERDUECONTMONTHS = #{oVERDUECONTMONTHS},
            </if>
            <if test="oVERDUECONTMONTHS != null">
                OVERDUECONTMONTHS = #{oVERDUECONTMONTHS},
            </if>
            <if test="oVERDUECONTMONTHS != null">
                OVERDUECONTMONTHS = #{oVERDUECONTMONTHS},
            </if>
            <if test="oVERDUECONTMONTHS != null">
                OVERDUECONTMONTHS = #{oVERDUECONTMONTHS},
            </if>
            <if test="oVERDUECONTMONTHS != null">
                OVERDUECONTMONTHS = #{oVERDUECONTMONTHS},
            </if>
            <if test="oVERDUECONTMONTHS != null">
                OVERDUECONTMONTHS = #{oVERDUECONTMONTHS},
            </if>
            <if test="oVERDUECONTMONTHS != null">
                OVERDUECONTMONTHS = #{oVERDUECONTMONTHS},
            </if>
            <if test="oVERDUECONTMONTHS != null">
                OVERDUECONTMONTHS = #{oVERDUECONTMONTHS},
            </if>
            <if test="oVERDUEAMOUNT != null">
                OVERDUEAMOUNT = #{oVERDUEAMOUNT},
            </if>
            <if test="oVERDUEAMOUNT != null">
                OVERDUEAMOUNT = #{oVERDUEAMOUNT},
            </if>
            <if test="oVERDUEAMOUNT != null">
                OVERDUEAMOUNT = #{oVERDUEAMOUNT},
            </if>
            <if test="oVERDUEAMOUNT != null">
                OVERDUEAMOUNT = #{oVERDUEAMOUNT},
            </if>
            <if test="oVERDUEAMOUNT != null">
                OVERDUEAMOUNT = #{oVERDUEAMOUNT},
            </if>
            <if test="oVERDUEAMOUNT != null">
                OVERDUEAMOUNT = #{oVERDUEAMOUNT},
            </if>
            <if test="oVERDUEAMOUNT != null">
                OVERDUEAMOUNT = #{oVERDUEAMOUNT},
            </if>
            <if test="oVERDUEAMOUNT != null">
                OVERDUEAMOUNT = #{oVERDUEAMOUNT},
            </if>
            <if test="oVERDUEAMOUNT != null">
                OVERDUEAMOUNT = #{oVERDUEAMOUNT},
            </if>
            <if test="oVERDUEAMOUNT != null">
                OVERDUEAMOUNT = #{oVERDUEAMOUNT},
            </if>
            <if test="lASTUPDATEDTIME != null">
                LASTUPDATEDTIME = #{lASTUPDATEDTIME},
            </if>
            <if test="lASTUPDATEDTIME != null">
                LASTUPDATEDTIME = #{lASTUPDATEDTIME},
            </if>
            <if test="lASTUPDATEDTIME != null">
                LASTUPDATEDTIME = #{lASTUPDATEDTIME},
            </if>
            <if test="lASTUPDATEDTIME != null">
                LASTUPDATEDTIME = #{lASTUPDATEDTIME},
            </if>
            <if test="lASTUPDATEDTIME != null">
                LASTUPDATEDTIME = #{lASTUPDATEDTIME},
            </if>
            <if test="lASTUPDATEDTIME != null">
                LASTUPDATEDTIME = #{lASTUPDATEDTIME},
            </if>
            <if test="lASTUPDATEDTIME != null">
                LASTUPDATEDTIME = #{lASTUPDATEDTIME},
            </if>
            <if test="lASTUPDATEDTIME != null">
                LASTUPDATEDTIME = #{lASTUPDATEDTIME},
            </if>
            <if test="lASTUPDATEDTIME != null">
                LASTUPDATEDTIME = #{lASTUPDATEDTIME},
            </if>
            <if test="lASTUPDATEDTIME != null">
                LASTUPDATEDTIME = #{lASTUPDATEDTIME},
            </if>
            <if test="iD != null">
                ID = #{iD},
            </if>
            <if test="iD != null">
                ID = #{iD},
            </if>
            <if test="iD != null">
                ID = #{iD},
            </if>
            <if test="iD != null">
                ID = #{iD},
            </if>
            <if test="iD != null">
                ID = #{iD},
            </if>
            <if test="iD != null">
                ID = #{iD},
            </if>
            <if test="iD != null">
                ID = #{iD},
            </if>
            <if test="iD != null">
                ID = #{iD},
            </if>
            <if test="iD != null">
                ID = #{iD},
            </if>
            <if test="iD != null">
                ID = #{iD},
            </if>
            <if test="sYNCFLAG != null">
                SYNCFLAG = #{sYNCFLAG},
            </if>
            <if test="sYNCFLAG != null">
                SYNCFLAG = #{sYNCFLAG},
            </if>
            <if test="sYNCFLAG != null">
                SYNCFLAG = #{sYNCFLAG},
            </if>
            <if test="sYNCFLAG != null">
                SYNCFLAG = #{sYNCFLAG},
            </if>
            <if test="sYNCFLAG != null">
                SYNCFLAG = #{sYNCFLAG},
            </if>
            <if test="sYNCFLAG != null">
                SYNCFLAG = #{sYNCFLAG},
            </if>
            <if test="sYNCFLAG != null">
                SYNCFLAG = #{sYNCFLAG},
            </if>
            <if test="sYNCFLAG != null">
                SYNCFLAG = #{sYNCFLAG},
            </if>
            <if test="sYNCFLAG != null">
                SYNCFLAG = #{sYNCFLAG},
            </if>
            <if test="sYNCFLAG != null">
                SYNCFLAG = #{sYNCFLAG}
            </if>
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM CREDITCARD_OVERDUE
        WHERE id = #{id}
    </delete>
</mapper>